<!DOCTYPE html>
<html>
  <head>
    <title>SneakerHeads</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,500,700' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <div class="footer">
      <div class="container">
        </div>
           <ul class="social_media">
            <li><a class="github" href="https://github.com/">github</a></li>
            <li><a class="linkedin" href="#">linkedin</a></li>
         </ul>
          <p>&copy; 2021 Darl HB</p>
      </div>

  </body>
</html>
